%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true, :autofocus => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
    = f.input :first_name, :required => true
    = f.input :last_name, :required => true
    = f.input :address_one, :required => true
    = f.input :address_two
    = f.input :city, :required => true
    = f.input :state_province, label: "State/Province", :required => true
    = f.input :country, :required => true
    = f.input :postal_code, :required => true
    = f.input :business_name
    = f.input :phone_number, :required => true

  .form-actions
    = f.button :submit, "Sign up"
= render "devise/shared/links"
