
- if !params[:search].present?
  .hero-unit
    %h1 Seeds Company
    %p Check out our seeds, man.

- if @seeds.present?
  .product-block
    %table.table.table-striped
      %tbody
        - @seeds.each do |seed|
          %tr
            - if seed.photos.present?
              %td.seed-image= image_tag(seed.photos.first.photo_url.url(:thumb))
            - else
              %td.seed-image
            %td.seed-description
              %p.seed-title= link_to "#{seed.common_name}, #{seed.variety} #{seed.organic ? '(OG)' : ''}", products_url(:id => seed.id)
              %p
                %b Type:
                = seed.seed_type
              %p= seed.notes.length > 200 ? truncate(seed.notes, :length => 200 ) : seed.notes