= simple_form_for @seed, :html => { :class => 'form-horizontal' } do |f|
    
  = f.input :catalog_number  
  = f.input :common_name  
  = f.input :variety   
  = f.input :genus    
  = f.input :species 
  = f.input :sub_species
  = f.input :pinyin
  = f.input :organic
  = f.input :seed_type
  = f.input :origin
  = f.input :date_acquired, as: :date
  = f.input :germination, :input_html => { :size => 3 }
  = f.input :days_to_maturity, :input_html => { :size => 3, :maxlength => 3 }
  = f.input :featured, label: "Featured?"
  = f.input :notes, as: :text, :input_html => { :size => "100x10" }
  #cats.nested-fields
    %h3 Categories
    = f.collection_check_boxes :categories, %w[cover\ crop flower fruit grain herb vegetable], :to_s, :to_s
  #packets
    = f.simple_fields_for :packets, :html => { :class => 'form-horizontal' } do |packet|
      = render 'packet_fields', :f => packet
    .links
      = link_to_add_association '> Add New Packet Size', f, :packets

  #photos
    = f.simple_fields_for :photos, :html => { :multipart => true, :class => 'form-horizontal' } do |photo|
      = render 'photo_fields', :f => photo
    .links
      = link_to_add_association '> Add New Photo', f, :photos
  
  .form-actions
    = f.submit nil
