.nested-fields
  %h3 New Packet
  = f.input :packet_size
  = f.input :price, :input_html => { :size => 6 }
  = f.input :quantity_available, :input_html => { :size => 10 }
  = f.input :discount_percentage, :input_html => { :size => 3 }
  = link_to_remove_association "Remove Packet", f