.nested-fields
  %h3 Photo
  - if f.object.new_record?
    %p
      = f.file_field :photo_url
    %p= link_to_remove_association "> Cancel", f
  - else
    %table
      %tr
        %td= link_to image_tag(f.object.photo_url.url(:thumb)), f.object.photo_url.url
        %td
          = f.check_box :_destroy
          = f.label :_destroy, "Destroy?", :style => "display: inline"