- model_class = Seed

%h3= "#{@seed.common_name}, #{@seed.variety}"

- if @seed.photos.present?
  .pull-left
    - @seed.photos.each do |p|
      %p.thumbs= image_tag(p.photo_url.url(:thumb))

  .pull-left.well.full-photo
    = image_tag(@seed.photos.first.photo_url.url)

.pull-left
  %p
    %b Catalog Number:
    = @seed.catalog_number

  %p
    %b Botanical Name:
    = "#{@seed.genus} #{@seed.species}"
    - if @seed.sub_species?
      = "var. #{@seed.sub_species}"

  %p
    %b Organic:
    - if @seed.organic?
      = "Yes"
    - else
      = "No"

  - if @seed.seed_type?
    %p
      %b Type:
      = @seed.seed_type

  - if @seed.days_to_maturity?
    %p
      %b Days to maturity:
      = @seed.days_to_maturity

  - if @seed.germination?
    %p
      %b Germ:
      = "#{@seed.germination}%"

  - if @seed.notes?
    %p
      %b Notes:
      = @seed.notes


  - if !@seed.packets.nil?
    %b Packets Available:
    %table.packets-list
      %tr
        %th Size
        %th Quantity
        %th
      - @seed.packets.each do |packet|
        %tr
          = form_for "", :url => { :action => 'add_item', :controller => 'customers' } do |f|
            %td= packet.packet_size          
            %td
              = f.text_field :quantity, :name => :quantity, :maxlength => 3, :value => 1, :class => "tinytiny"
              = f.hidden_field :customer, :name => :customer, :value => current_customer.id
              = f.hidden_field :packet, :name => :packet, :value => packet.id
            %td= f.submit "Add"