
- if !params[:search].present? && !params[:cats].present?
  .hero-unit
    %h1 Seeds Company
    %p broadcasting live
- else
  - if params[:cats].present?
    %h3= params[:cats].titleize
  - elsif params[:search].present?
    %h3
      = "results for: "
      %i= params[:search]
  %p
    = @seeds.length
    = @seeds.length == 1 ? 'result' : 'results'

- if @seeds.present?
  .product-block
    %table.table
      %tbody
        - @seeds.each do |seed|
          %tr
            - if seed.photos.present?
              %td.seed-image= link_to image_tag(seed.photos.first.photo_url.url(:thumb)), products_url(:id => seed.id)
            -else
              %td.seed-image= link_to image_tag("default.png"), products_url(:id => seed.id)
            %td.seed-description
              %p.seed-title= link_to "#{seed.common_name}, #{seed.variety}", products_url(:id => seed.id)
              %p
                %i= seed.pinyin
              %p
                = seed.seed_type
                = seed.organic ? "OG" : nil
              / If the description is too long, cut its length
              %p= seed.notes.length > 250 ? truncate(seed.notes, :length => 250 ) : seed.notes
  %p= paginate @seeds